.user-component__subtitle i {
  color: tomato;
  margin-left: 3px;
  opacity: 0.7;
}

.more-screen .icon-rows .icon-row {
  margin-top: 35px;
  justify-content: space-between;
  color: inherit;
}

.more-suggestions {
  margin-top: 30px;
  border-top: var(--main-border);
  padding-top: 20px;
}

.more-suggestions__title {
  margin-bottom: 30px;
  font-weight: 500;
}

.more-suggestions__icons {
  display: flex;
  justify-content: space-between;
}

.more-suggestions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-img {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon i {
  color: white;
  font-size: 35px;
}

.user-component__column i {
  color: rgba(0, 0, 0, 0.8);
}

.more-suggestions__icon-text {
  font-weight: 500;
}

.no-show {
  opacity: 0;
}
