.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: var(--main-border);
  z-index: 2;
  height: 70px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

@keyframes appearBthAnimation {
  from {
    transform: translateY(55px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__btn {
  animation: appearBthAnimation 0.8s ease-in-out forwards;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.15s;
}

.nav__btn:nth-child(3) {
  animation-delay: 0.3s;
}

.nav__btn:last-child {
  animation-delay: 0.45s;
}

.nav__btn:hover {
  font-size: 18px;
}
