.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px var(--horizontal-space) var(--horizontal-space)
    var(--horizontal-space);
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

#screen-header__icons--find {
  position: relative;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1.5s ease-in-out infinite;
}

@keyframes danceMusicNote {
  0% {
    transform: none;
  }
  25% {
    transform: translateX(-5px) translateY(-7px) rotateZ(20deg);
  }
  50% {
    transform: none;
  }
  75% {
    transform: translateX(5px) translateY(-7px) rotateZ(-20deg);
  }
  100% {
    transform: none;
  }
}

.screen-header__icons .fa-music:hover {
  animation: danceMusicNote 2s ease-in-out infinite;
}
