.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 38.5%;
  margin-right: 20px;
  border: 1.5px solid rgba(73, 73, 87, 0.4);
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#user-component__profile-msg {
  width: 95%;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 38.5%;
  margin-right: 20px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 38.5%;
  margin-right: 20px;
}

.user-component__title--not-bold {
  font-weight: 400;
}
